/* This document defines the type definitions */

@fontFamily--default: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;
@fontSize--default: 16px;

html {
	font-family: @fontFamily--default;
	font-size: @fontSize--default;
}

body {
	font-family: @fontFamily--default;
	font-size: @fontSize--default;
}

h1 {
	font-size:3.5rem;
}

h2 {
	font-size:3.0rem;
}

p {
	font-size: @fontSize--default;
}

