.content-focus-box {
	margin:20px 0px;
}

.content-focus-box-dark {
	background-color:@grey--dark;
	color:@grey--light;
}

.content-focus-box-dark h3 {
	background-color:@grey--dark;
	color:@white;
	
	border-bottom:solid @grey--light 1px;
}

.content-focus-box-dark .cta{
	width:100%;
	margin-bottom:10px;
	background-color:@grey--light;
	border-color:@grey--light;
	font-size:1rem;
}
